{{define "base"}}
{{template "package" .}}

import (
	"context"
	"fmt"
	"log"
	"os"
	{{template "framework_imports" .}}
)

{{template "framework_specific" .}}
{{end}}

{{define "package"}}
package {{if eq (len .Binaries) 1}}commands{{else}}{{.Binary}}{{end}}
{{end}}